name: deps-sync
on:
  push:
    branches: [main, deps]
  pull_request:
    types: [edited]
permissions:
  contents: write
  actions: write
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: mmkal/runovate@eeeb766a1e77a21c12080c13716cde85b48ec9c6
