name: pkg.pr.new
on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install -g corepack@0.31.0 # todo: delete if https://github.com/nodejs/corepack/issues/612 is resolved
      - run: corepack enable
      - name: set package.json version
        run: |
          sed -i 's|"version":|"version": "0.0.0-dev","oldversion":|g' package.json
      - run: pnpm install
      - run: pnpm build
      - run: pnpm pkg-pr-new publish
