name: pkg.pr.new
on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm install -g corepack@0.31.0 # todo: delete if https://github.com/nodejs/corepack/issues/612 is resolved
      - run: corepack enable
      - name: set package.json version
        # note: if dependencies are a "real" version that matches the repo's package.json, pnpm uses the cached version. So patch to a dev, timestamped version.
        run: |
          sed -i 's|"version":|"version": "0.0.0-dev-todaysdate","oldversion":|g' package.json
          sed -i "s|todaysdate|$(date +%Y%m%d%H%M%S)|g" package.json
      - run: pnpm install
      - run: pnpm build
      - run: pnpm pkg-pr-new publish
